body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
    margin: 0;
    font-family: Arial, sans-serif;
}

.card {
    background-color: #1e1e1e;
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 300px;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    margin: 10px 0;
}

.location {
    color: #8bc34a;
    margin-bottom: 10px;
}

.bio {
    font-style: italic;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn {
    background-color: #333;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition:  0.3s ease;
}

.btn:hover {
    background-color: #555;
}
